<!DOCTYPE html>
<html>
  
  <!--Install font designer Impallari see :  https://github.com/impallari/Libre-Caslon-Text for Libre Caslon Text-->
 <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-text" type="text/css"/> 
  
 <!--Install font  see : https://fontlibrary.org/en/font/libre-baskerville for Libre Baskerville Text-->
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-baskerville" type="text/css"/>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
