---
layout: default
---
<!--Install font designer Impallari see :  https://github.com/impallari/Libre-Caslon-Text for Libre Caslon Text-->
 <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-text" type="text/css"/> 
  
 <!--Install font  see : https://fontlibrary.org/en/font/libre-baskerville for Libre Baskerville Text-->
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-baskerville" type="text/css"/>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{page.url}}">{{ page.title }}</a></h1>
  <center>  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.author %}
     <div class="">
       <center><p ><strong><span class="authorKeyword">Author</span><span class="small-site-title"> <h2 style="letter-spacing: 3px !important;
       text-transform: uppercase !important;">{{page.author}}</h2></span></strong></p></center>

     </div>
     {% endif %}
   </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
   
<!--install commento from https://github.com/adtac/commento/blob/master/README.md-->   
  </div>
     <body>
        <script src="http://0.0.0.0:8080/assets/commento.min.js"></script>
    </body>

    <script>
        Commento.init({
            serverUrl: "http://0.0.0.0:8080"
        })
    </script>

    <div id="commento">
    </div>

  <footer class="postNavigation">
  {% if page.previous.url %}
    <a class="postPrev" href="{{page.previous.url}}">
        &laquo; {{page.previous.title}}
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="postNext" href="{{page.next.url}}">
        {{page.next.title}} &raquo;
    </a>
  {% endif %}
  </footer>

   <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-579cc5dcb75d1474"></script>

</article>
